.CardHolders{
    display: flex;
    justify-content: space-evenly;
  }
  
  .Text{
    color: black;
    justify-content: center;
    font-size: larger;
  }
  
.SuccessStories{ 
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  .card{
    display: flex;
    justify-content: space-around;
  }
  
  .btn-primary{
  display: flex;
  border-color: black;
  color: black;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  }
  
  h2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    color: black;
  
  }

  h5{
    display: flex;
    font-size: x-large;
    justify-content: center;
    justify-content: space-evenly;
    color: black;
    border: 10px;
    border-color: black;
    border-style: solid;
    text-align: center;
  }

  .YTest{
    text-align: center;
  }